/* ==================general declaration ================================*/
body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 100%;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
}

h3, h2, h4{
    margin: 0px;
    padding: 0px;
    font-family: 'Abril Fatface', cursive;
    font-weight: 500;
}

p{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

/* ======================nav bar ===================================*/
.nav ul{
     position: fixed;
    right: 0px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    list-style-type: none;
    background-color: #646492;
}

.nav ul li{
  float: right;
  border-right: 1px dotted #e0e0e0;
}

.nav ul li:first-child{
    border-right: none;
  }

.nav ul li a{
    display: block;
    text-decoration: none;
    color: #e0e0e0;
    padding: 12px 16px;
   
  }

.nav ul li a:hover:not(.active){
    background-color: rgb(214, 218, 215);
    color: #646492;
  }

.active{
    background-color: rgb(223, 154, 25);
  }

  /* ==========================side fixed bar==============================*/

.aside{
    width: 20%;
    height: 100%;
    position: fixed;
    top: 6.5%;
    overflow: auto;
    background-color: rgba(250, 255, 252, 1);
  }

.aside_1{
    width: 100%;
    /*background-color: rgba(223, 154, 25, 0.1);*/
    font-size: 16px;
  }

.aside_1 h3{
    padding: 10px;
    text-align: center;
}

.aside_1 h2{
    text-align: center;
    padding-top: 10px;
}


.aside_1 p{
    padding: 10px;
}

.aside_1 p:last-child{
    font-style: italic;
    font-size: 0.75em;
    text-align: center;
}

.aside_11{
    width: 80%;
    text-align: center;
}

.aside_11 h3{
    padding-top: 10px;
    font-size: 1em;
}

.aside_11 p{
    padding: 10px 0px;
}

.aside_11 p:last-child{
    font-style: italic;
    font-size: 0.75em;
}
hr{
    width: 50px;
    border: 2px solid rgba(226, 226, 226, 0.6);
    /*margin: auto;*/
}

hr.right{
    float: right;
}

hr.left{
    float: left;
}

hr.center{
    border-bottom: 1px dotted #f3f3f0;
}

.aside_2{
    width: 100%;
   /* background-color: rgba(214, 218, 215, 0.6);*/
    text-align: center;
  }

.aside_2 ul{
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  overflow: hidden;
 /* text-align: center;*/
  }

.aside_2 ul li{
   border-bottom: 1px dotted #99670b;
   
  }

.aside_2 ul li a{
   text-decoration: none;
   display: block;
   padding: 16px 0px;
   color: #99670b;
}

.aside_2 ul li a:hover{
    background-color: rgb(214, 218, 215);
    color: #646492;
 }

 .section{
    margin-left: 22%;
    padding-top: 40px;
    width: 60%;
 }
/* =================main body element =========================================*/

 .section_1{
    width: 90%;
    background-color: rgba(250, 255, 252, 1);
    /*padding-top: 100px;
    padding-bottom: 100px;*/
    padding-left: 5%;
    padding-right: 5%;
}

.social_icons{
    float: right;
    padding-bottom: 100px;
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
}

.social_icons img{
  width: 20px;
  height: 20px;
  padding: 5px;
}

.social_icons p:first-child{
  font-style: italic;
  font-size: .75em;
}

.top_icons{
    content: "";
    display: table;
    clear: both;
}

.section_1 h3{
  padding: 20px 0px;
}

.section_1 p{
  padding: 10px 0px;
  color: #99670b;
}


.section_2{
  width: 100%;
  background-color: rgba(223, 154, 25, 0.1);
  float: left;
  padding-top: 100px;
  padding-bottom: 100px;
}

.section_2_1, .section_2_2{
  width: 40%;
  float: left;
  background-color: #fff;
  padding: 5px;
  border: 1px groove rgba(226, 226, 226, 0.6);
  border-radius: 5px;
  text-align: center;
  box-shadow: 1px 0px 4px 0px rgba(0, 0, 0, 0.2);
}

.section_2_1{
  margin: 0% 2.5% 0% 5%;
}

.section_2_2{
  margin: 0% 5% 0% 2.5%;
}

.section_2_1 h3{
  padding: 20px 0px;
}

.section_2_1 p{
  padding: 10px 0px;
}

.section_2_2 ul{
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  /*overflow: hidden;*/
  text-align: center;
}

.section_2_2 ul li{
  margin: 20px 0px;
  padding: 10px;
}

.section_2_2 ul li a{
  /*display: block;*/
  text-decoration: none;
  padding: 4px 8px;
  color: #99670b;
  }

.section_2_2 ul li a:hover{
    border-bottom: 1px groove rgba(226, 226, 226, 0.6);
    color: #646492; 
}

  /* =================icon decoration =====================================*/
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
}

.color{
  color: #99670b;
}

.right{
  margin-right: 10px;
  float: left;
}

/* =====================footer section here =============================*/
.footer{
  margin-left: 22%;
  width: 60%;
}

 






  





